/* .mainCard{
    width: 10vw;
} */
.postDetails{
    display: inline;
    
}
.threeDots{
    float: right;

}



.mid img{
    position: relative;
    display:block;
    width: 33vw;
    height: 75vh;
    /* z-index: -1; */
}

.bottom .icons .lft{
    display:flex;
      justify-content: space-around;

    margin-right: 20px;
    size:"50px";
}


.bookmark{
    position: relative;
    /* margin-right: 323px; */
    float: right;
}

.iconstyle{
    color:brown;
}
/* .icons{
    width: 200px;
} */