.l{
    margin-top: 130px;
}
.ca{
    text-align: center;
    margin-bottom: -70px;
    text-decoration-line: underline;
    font-size: 28px;
    line-height: 32px;
}

.l2{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 16px;
    margin-top: 140px;
    margin-bottom: 40px;
    height: 10px;
    /* width: auto; */
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10 px;
}